<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="navbar2">
        <div class="navbar">
            <div class="app-name"><img th:src="@{/icons/templogo.svg}" alt="Logo"><span>Admin Bank App</span></div>
            <div class="nav-items">
                <div th:onclick="|location.href='/dashboard'|"><img th:src="@{/icons/dashboard.svg}" alt="Icon"><span>Dashboard</span></div>
                <div th:onclick="|location.href='/users'|"><img th:src="@{/icons/accounts.svg}" alt="Icon"><span>Users</span></div>
                <div th:onclick="|location.href='/account'|"><img th:src="@{/icons/accounts.svg}" alt="Icon"><span>Customer Accounts</span></div>
                <div th:onclick="|location.href='/transactions'|"><img th:src="@{/icons/transaction.svg}" alt="Icon"><span>Transactions</span></div>
                <div th:onclick="|location.href='/loan'|"><img th:src="@{/icons/loans.svg}" alt="Icon"><span>Loans</span></div>
                <div th:onclick="|location.href='/reports'|"><img th:src="@{/icons/reports.svg}" alt="Icon"><span>Reports</span></div>
                <div th:onclick="|location.href='/audit'|"><img th:src="@{/icons/reports.svg}" alt="Icon">Audits</div>
                <div th:onclick="|location.href='/logout'|"><img th:src="@{/icons/logout.svg}" alt="Icon"><span>Logout</span></div>
            </div>
        </div>
</div>
</body>
</html>