<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <h1>Bank Admin Dashboard</h1>

    <div class="metrics">
        <p>Total Users: <span id ="totalUsers">Loading...</span></p>
        <p>Total Accounts: <span id ="totalAccounts">Loading...</span></p>
        <p>Total Transactions: <span id ="totalTransactions">Loading...</span></p>
    </div>

<script src="dashboard.js"></script>
</body>
</html>