<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{css/main.css}">
    <link rel="stylesheet" th:href="@{css/transactions-layout.css}">
    <title>Transactions</title>
</head>
    <body>
    <div class="main-layout">
        <div class="top-bar">
            <div class="name-card">
                <div th:text="${userName}"></div>
                <div class="position" th:text="${userRole}"></div>
            </div>
            <div class="img-placeholder"> </div>
        </div>

        <div th:replace="fragments/navbar2 :: navbar2"></div>

        <div class="main-content-container">
            <div class="heading-container"><h4>Transaction Monitoring</h4>
                <div>
                    <a th:href="@{/transactions/download(
                            search=${param.search},
                            type=${param.type},
                            status=${param.status})}">
                        <button class="btn-style"><label>Export CSV</label></button>
                    </a>
                    <div th:if="${errorMessage}" class="alert" th:text="${errorMessage}"></div>
                </div>
            </div>

            <div class="search-filter-container">
                <h4>Search & Filter</h4>
                <form th:action="@{/transactions}" method="get">
                <div class="search-filter-items">
                    <div><input type="text" id="search" name="search" placeholder="Search by customer or transaction ID "></div>
                    <div>
                        <select name="type">
                            <option value="">All Types</option>
                            <option value="deposit">Deposit</option>
                            <option value="transfer">Transfer</option>
                            <option value="withdrawal">Withdrawal</option>
                        </select>
                    </div>
                    <div>
                        <select name="status">
                            <option value="">All Status</option>
                            <option value="completed">Completed</option>
                            <option value="pending">Pending</option>
                            <option value="failed">Failed</option>
                        </select>
                    </div>
                    <div><button class="btn-style" type="submit">Apply Filters</button></div>
                </div>
                </form>
            </div>
            <div class="transactions-container">
                <h4>Transactions List</h4>
                <table>
                    <tr>
                        <th>Transaction ID</th>
                        <th>Customer</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Time Created</th>
                        <th>Date Created</th>
                    </tr>
                    <tr th:each="transaction : ${transactions}">
                        <td th:text="${transaction.id}"></td>
                        <td th:text="${transaction.getCustomer().getName()}"></td>
                        <td th:text="${transaction.getType()}"></td>
                        <td th:text="'$' + ${transaction.getAmount()}"></td>
                        <td th:text="${transaction.getStatus()}"></td>
                        <td th:text="${transaction.getTimeCreatedAt()}"></td>
                        <td th:text="${transaction.getDateCreatedAt()}"></td>
                    </tr>
                    <tr th:if="${transactions.isEmpty()}">
                        <td colspan="8" style="text-align:center; color: gray;">No transactions found</td>
                    </tr>
                </table>

            </div>
        </div>

        <div class="footer"></div>
    </div>
    </body>
</html>